---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const notes = await getCollection("notes");
    return notes.map((note) => ({
        params: { slug: note.slug },
        props: { note: note },
    }));
}

const { note } = Astro.props;
const { Content } = await note.render();
---

<Layout title={note.data.topic}>
    <h1>{note.data.topic}</h1>
    <Content />
</Layout>
